includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        container_xml_path: tests/Application/var/cache/test/Tests_ThreeBRS_SortingPlugin_KernelTestDebugContainer.xml

    excludePaths:
        # Too slow
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - '*/tests/Application/var/*'

        - 'src/Migrations/'
        - 'tests/'

    ignoreErrors:
        - '#TaxonRepositoryInterface is not generic#'
