<a href="{{ path('threebrs_admin_sorting_products', {taxonId: '__TAXON_ID__'}) }}" class="btn btn-icon btn-sm" data-bs-toggle="tooltip" data-bs-title="{{ 'threebrs.ui.sortingPlugin.editProducts'|trans }}">
    {{ ux_icon('tabler:arrows-sort') }}
</a>